:host {
    display: block;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:host, #container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container {
    position: relative;
    user-select: none;
    cursor: move;
}

#labels {
    transform-style: preserve-3d;
}

.label {
    font-weight: 200;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    border-radius: 10px;
    color: white;
    z-index: 200;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);

}

.label:hover {
    z-index: 1000;
    opacity: 1;
    background-color: rgb(30, 140, 32);
}

.label span {
    display: inline-block;
    padding: 5px 10px;
}

.label[data-selected=true],
.label[data-expanded=true] {
    background-color: rgb(30, 140, 32);
}
