:host {
    font-weight: 200;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    z-index: 200;
}

:host(:hover) {
    z-index: 1000;
}

:host(:hover) .name {
    background-color: green;
}

:host > span {
    display: inline-block;
    position: relative;
}

img {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 100px;
}

.name {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    text-align: center;
    width: 100px;
}
